html, body {
    height: 100%;
	width: 100%;
    margin: 0;
    padding: 0;
	overflow: hidden;
}

.global-container {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.hidden {
	display: none;
}